#caja_contenido{
        margin-left: 50px;
        margin-right: 50px;
        border: 1px solid #DBB270 ;
        background-color: #DBB270;
}



#caja_contenido > h1{
    margin-left: 42%;
    margin-bottom: 20px;
    font-size: 45px;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
}


button{
    background: gray;
     padding: 5px; 
     color: #FFFFFF;
     margin-top: 0px;
     border-radius: 10px;
     transition: 0.4s;
     margin-left: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
}

button:hover{
    background-color: #a2abbd;
    width: 70px;
    height: 39px;
    transition: 0.4s;
    color: rgb(105, 238, 105);
    margin-left: 4px;
}

fieldset{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    background-color: white;
    padding-left: 20px;
    height: 380px;
    box-shadow: 12px 15px 10px 5px rgb(75, 75, 75);
}


#hr1{
    color: white;
    width: 600px;
    margin-left: 31%;
    margin-top:10px;
}

.hr{
    color: white;
    width: 950px;
    margin-left: 15%;
    margin-top:30px;
}

.opinion{
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(101, 219, 213);
    box-shadow: 12px 15px 10px 5px rgb(30, 66, 64);
    border-radius: 20px;

}

.opinion:hover{
    background-color: rgb(88, 199, 193);
    
}

.opinion h1{
    margin-bottom: 15px;
}

.nota{
    float: right;
    font-size: 20px;
}

