#menu{
    width: 600px;

}



#caja_contenido{
    margin-left: 50px;
    margin-right: 50px;
    height: 1300px;
    border: 1px solid black;
    background-color: #DBB270;
}

#background{
    height: 500px;
    background-image: url("../imagenes/servicio_a_domicilio.jpg");
    background-size: 100% 130%;   
    border: 1px solid black;
}

#background h1{
    color:  
    #ffffff;
    margin-top: 200px;
    margin-left: 27%;
    font-size: 60px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#background p{
    color: #ffffff;
    font-size: 40px;
    margin-left: 34%;
}

fieldset{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    padding-left: 20px;
    box-shadow: 12px 15px 10px 5px rgb(88, 88, 88);
    height: 620px;
}

button{
    background: gray;
     padding: 5px; 
     color: #FFFFFF;
     margin-top: 0px;
     border-radius: 10px;
     transition: 0.4s;
     margin-left: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
}

button:hover{
    background-color: #a2abbd;
    width: 70px;
    height: 39px;
    transition: 0.4s;
    color: rgb(105, 238, 105);
    margin-left: 4px;
}



#rellenar{
    margin-left: 23%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 18px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

hr{
    width: 870px;
}

legend{
    font-size: 20px;
}
